.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  display: flex;
  height: 480px;
  width: 920px;
  background-color: white;
  border-radius: 30px;
  gap: 50px;
  padding: 32px;
}

.card__left {
  width: 50%;
  height: 100%;
  padding-left: 8px;
}

.tip-buttons__title {
  margin-bottom: 16px;
}

.tip-buttons__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.bill {
  margin-bottom: 48px;
}
.bill__title {
  margin-bottom: 8px;
}

.card__right {
  width: 50%;
}
.calculator {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 40px;
}

.calculator__tip {
  margin-bottom: 40px;
}

.calculator__button {
  margin-top: auto;
}
